body {
    font-family: 'B612', arial;
    background-color: #fcfcfc;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
  
  button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

img {
    height: 150px;
    width: auto;
    margin: auto;
    display: block;
    padding-top: 90px;
}